{
  "SNIPEIT_API_KEY": "replace with personal snipe-it api key",
  "SNIPEIT_API_URL": "replace with url",
  "DATTO_API_KEY": "(optional) replace with Datto API key",
  "DATTO_API_SECRET": "(optional) replace with Datto API secret",
  "MICROSOFT_API_CLIENT": "(optional) replace with MS Graph API client key",
  "MICROSOFT_API_TENANT": "(optional) replace with MS Tenant ID",
  "MICROSOFT_API_SECRET": "(optional) replace with MS Graph API secret key",
  "KNOWBE4_TOKEN": "(optional) replace with KnowBe4 Reporting API Token",
}